<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="userRepository" class="com.example.spring.repository.impl.UserRepositoryImpl">
	</bean>
	
	<bean id="service1" class="com.example.spring.service.impl.UserServiceImpl2">
		<property name="userRepository"><ref bean="userRepository"></ref></property>
	</bean>
	
	
</beans>
