body{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}
nav ul li
{
  display: inline-block;
  list-style-type: none;
  margin-bottom: 20px;
  line-height: 50px;
    height: 50px;
	padding: 0 10px;
 
}
nav ul li img{
    margin-left: 150px;
    margin-right: 150px;
}

ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
}


nav > ul > li > a {
        color: #aaa;
        padding: 0 10px;
        text-decoration: none;
		
      }
#navbar
{
  margin-top : 40px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  box-shadow: 0 0 3px 0;
  margin-bottom: 40px;
}
#lorem{
	
  padding: 50px 150px;	
  background: #30c3a6;
  color: white;
  text-align: center;
  
}
#about{
  text-align: center;
  margin: 50px 200px;
  color: #6f6c6c;
}

#container
{
	padding:50px;
   background: #30c3a6;
   text-align:center;
   color: white;
  
}


#container #left{width: 30%;
display: inline-block;}

.button
{
	background-color: #203f61;
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	margin-top: 10px;
}
#about h3{
  z-index: 1;
  overflow: hidden;
  padding: 3%;
}
#about h3:before, #about h3:after{
  content: "";
  background-color: lightgrey;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 50%;
  height: 1px;
}
#about h3:before {
    right: 0.5em;
    margin-left: -50%;
}
#about h3:after {
    left: 0.5em;
    margin-right: -50%;
}


#container h3{
  z-index: 1;
  overflow: hidden;
  padding: 3%;
}
#container h3:before, #container h3:after{
  content: "";
  background-color: lightgrey;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 50%;
  height: 1px;
}
#container  h3:before {
    right: 0.5em;
    margin-left: -50%;
}
#container h3:after {
    left: 0.5em;
    margin-right: -50%;
}
#container div img{
	border: 5px solid #FFF;
}
#container h4{
	text-transform: uppercase;
}


#contact span{
	display: inline-block;
  list-style-type: none;
  padding: 10px 10px;
  color: white;
  
 
  
}

footer
{
  background: #203f61;	
}
