body{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}
body #navbar div ul li
{
  display: inline-block;
  list-style-type: none;
  margin-bottom: 5%;
  line-height: 10%;
  height: 10%;
	padding: 0 2%;
  margin-top: 5%;
 
}
#logo img{
    margin-right: 10%;
    margin-left: 10%;
    float:left;
    padding: 0;
    border: 0;
    margin: 0;
}

#logo{
  margin-left: 15%;
}
ul
{
	list-style-type: none;
	margin: 0;
  padding: 0;
}


nav > div > ul > li > a {
        color: #aaa;
        text-decoration: none;
		
}
#navbar
{
  margin-top :5%;
  box-shadow: 0 0 2px 0;
  margin-bottom: 5%;
}
#lorem{
	
  padding:10% 15%;	
  background: #30c3a6;
  color: white;
  text-align: center;
  
}
#about{
  text-align: center;
  margin: 5% 20%;
  color: #6f6c6c;
}

.button
{
	background-color: #203f61;
	border: none;
	color: white;
	padding: 1% 2%;
	text-align: center;
  text-decoration: none;
  display: inline-block;
	margin-top: 5%;
}
#about h3{
  z-index: 1;
  overflow: hidden;
  padding: 3%;
}
#about h3:before, #about h3:after{
  content: "";
  background-color: lightgrey;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 50%;
  height: 1px;
}
#about h3:before {
    right: 0.5em;
    margin-left: -50%;
}
#about h3:after {
    left: 0.5em;
    margin-right: -50%;
}


.container h3{
  z-index: 1;
  overflow: hidden;
  padding: 3%;
}
.container h3:before, .container h3:after{
  content: "";
  background-color: lightgrey;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 50%;
  height: 1px;
}
.container  h3:before {
    right: 0.5em;
    margin-left: -50%;
}
.container h3:after {
    left: 0.5em;
    margin-right: -50%;
}
.container div img{
	border: 5px solid #FFF;
}
.container h4{
	text-transform: uppercase;
}


#contact span{
	display: inline-block;
  list-style-type: none;
  padding: 10px 10px;
  color: white;
  position: relative;

}

#contact span img{
  width: 50%;
  height: 50%;
  position: absolute;

}

#contact #navb
{
  display: none;
}

footer
{
  background: #203f61;	
}

.container
{
  padding:5%;
  background: #30c3a6;
  text-align:center;
  color: white;
  
}

.container > div{
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
}



#contactus
{
  background-color: rgb(232,79,64);
  list-style-type: none;
  padding: 10px 10px;
  padding-bottom: 5%;
  

}
#contactus h3{
  z-index: 1;
  overflow: hidden;
  padding: 3%;
  color:white;
}
#contactus h3:before, #contactus h3:after{
  content: "";
  background-color: lightgrey;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 50%;
  height: 1px;
}
#contactus  h3:before {
    right: 0.5em;
    margin-left: -50%;
}
#contactus h3:after {
    left: 0.5em;
    margin-right: -50%;
}

#contactus form
{
  background-color: white;
  margin: auto;
  width: 70%;
  display: inline-block;
  padding-bottom: 5%;

}

#contactus form p#message{
  width: 50%;
  float: right;
}

#contactus form div#left{
  width: 50%;
  display: block;
  float: left;
}

#contactus form #end{
  color: darkgrey;
  padding: 2% 5% 1% 5%;

}

#contactus form div #btn{
  background-color: #30c3a6;
  border: none;
  color: white;
  padding: 3%;
 
}

#contactus form input{
  width: 80%;
   border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 3% 5%;
    margin: 1% 0
}

#contactus form textarea{
  width: 80%;
  border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 3% 5%;
    margin: 1% 0
}

#contactus form p label{
  text-align: left;
  color: darkgrey;
  float: left;
  margin-left: 10%;
}

@media only screen and (max-width: 800px)
{
  .container > div {
        width: 43%;
    }
}

@media only screen and  (max-width: 480px) 
{ /*breakpoint*/
    .container > div {
        display: block;
        width: 100%;
    }
    #contact #navb
    {
      display: block;
      margin: 0 0;
    }
    #contact #navb div ul li{
      display: block;
      padding: 2%;
      border-bottom: 1px solid darkgray;
    }

    #navbar #menu{
      visibility: hidden;
    }

    #contact span p {
      display: none;
    }
    
    #contactus form div#left{
      width: 100%;
    }

    #contactus form p#message{
      width: 100%;
    }
}