body{
  font-family: 'Source Sans Pro', sans-serif;
}
nav ul li
{
  display: inline-block;
  list-style-type: none;
 
}
nav ul li a img{
    float: left;
    margin-right: 150px;
}

nav > ul > li > a {
        color: #aaa;
        display: block;
        line-height: 56px;
        padding: 0 5px;
        text-decoration: none;
      }
#navbar
{
  margin-top : 40px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  box-shadow: 0 0 5px 0;
}
#lorem{
  background: #30c3a6;
  color: white;
  text-align: center;
  
}
